<div class="newbook">
    <p style="padding-bottom:20px ;">Customers>New</p>
    <form method="post">
        <div class="one">
            <p style="font-weight: bolder; font-size: 20px; padding-top:6px;">New Customer</p>
            <button class="save1"><a >Save</a></button>
        </div>

        <div>
            <fieldset class="two">
                <label for="firstName">First Name: *</label>
                <input placeholder=" enter the first name" class="three" name="firstName" id="firstName" required />
            </fieldset>
            <fieldset class="two">
                <label for="lastName">Last Name: *</label>
                <input placeholder=" enter the last name" class="three" name="lastName" id="lastName" required />
            </fieldset>
            <fieldset  class="two">
                <label for="gender">Gender: *</label>
                <select class="three" name="gender" id="gender" required>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </fieldset>
        </div>
    </form>
</div>